<section class="shop-banner">
    <div class="container z-3">
        <h1 class="text-white text-center fw-semibold mb-4">Latest News & Trends from United Cement Industry</h1>
        <h5 class="text-white text-center fw-lighter mb-5">Subscribe to learn about new product features, the latest in
            technology, solutions, and updates.</h5>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="input-group mb-3 custom-input-group">
                    <input type="text" class="form-control px-4" placeholder="Enter your email"
                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <button class="btn btn-primary border-0 fs-5" type="button" id="button-addon1">Subscribe</button>
                </div>
                <p class="text-white">We care about your data in our privacy policy</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h4 class="fw-semibold mb-4">Recent blog posts</h4>
        <div class="row mb-5">
            <div class="col-xl-6">
                <div class="card border-0 mb-4">
                    <img src="assets/images/news/image-1.png" class="card-img-top rounded-top-4" alt="...">
                    <div class="card-body p-0 pt-4">
                        <h6 class="card-title text-purple mb-3">Olivia Rhye • 20 Jan 2022</h6>
                        <h5 class="fw-semibold after-arrow">Building a Greener Future: Cement’s Role in Sustainability
                        </h5>
                        <p class="text-gray">Discover how the cement industry is embracing eco-friendly innovations and
                            reducing its carbon footprint through alternative fuels and materials</p>
                        <div class="d-flex gap-2 flex-wrap">
                            <div class="custom-badge badge-purple">Design</div>
                            <div class="custom-badge badge-blue">Research</div>
                            <div class="custom-badge badge-red">Presentation</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card border-0 mb-4">
                    <div class="row g-0">
                        <div class="col-sm-4">
                            <img src="assets/images/news/image-1.png"
                                class="img-fluid rounded-start-4 h-100 object-fit-cover" alt="...">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body py-sm-0 px-sm-3 px-0">
                                <h6 class="card-title text-purple mb-3">Phoenix Baker • 19 Jan 2022</h6>
                                <h5 class="fw-semibold">Smart Cement: Revolutionizing Construction Practices</h5>
                                <p class="text-gray">Explore groundbreaking advancements in cement technology that are
                                    shaping the future of construction with improved durability and efficiency</p>
                                <div class="d-flex gap-2 flex-wrap">
                                    <div class="custom-badge badge-purple">Design</div>
                                    <div class="custom-badge badge-blue">Research</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-0">
                    <div class="row g-0">
                        <div class="col-sm-4">
                            <img src="assets/images/news/image-1.png"
                                class="img-fluid rounded-start-4 h-100 object-fit-cover" alt="...">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body py-sm-0 px-sm-3 px-0">
                                <h6 class="card-title text-purple mb-3">Phoenix Baker • 19 Jan 2022</h6>
                                <h5 class="fw-semibold">Smart Cement: Revolutionizing Construction Practices</h5>
                                <p class="text-gray">Explore groundbreaking advancements in cement technology that are
                                    shaping the future of construction with improved durability and efficiency</p>
                                <div class="d-flex gap-2 flex-wrap">
                                    <div class="custom-badge badge-green">Design</div>
                                    <div class="custom-badge badge-blue">Research</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="fw-semibold mb-4">All blog posts</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-0 mb-4">
                    <img src="assets/images/news/image-1.png" height="240px"
                        class="card-img-top rounded-top-4 object-fit-cover" alt="...">
                    <div class="card-body p-0 pt-4">
                        <h6 class="card-title text-purple mb-3">Olivia Rhye • 20 Jan 2022</h6>
                        <h5 class="fw-semibold after-arrow">Building a Greener Future: Cement’s Role in Sustainability
                        </h5>
                        <p class="text-gray">Discover how the cement industry is embracing eco-friendly innovations and
                            reducing its carbon footprint through alternative fuels and materials</p>
                        <div class="d-flex gap-2 flex-wrap">
                            <div class="custom-badge badge-purple">Design</div>
                            <div class="custom-badge badge-blue">Research</div>
                            <div class="custom-badge badge-red">Presentation</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 mb-4">
                    <img src="assets/images/news/image-1.png" height="240px"
                        class="card-img-top rounded-top-4 object-fit-cover" alt="...">
                    <div class="card-body p-0 pt-4">
                        <h6 class="card-title text-purple mb-3">Olivia Rhye • 20 Jan 2022</h6>
                        <h5 class="fw-semibold after-arrow">Building a Greener Future: Cement’s Role in Sustainability
                        </h5>
                        <p class="text-gray">Discover how the cement industry is embracing eco-friendly innovations and
                            reducing its carbon footprint through alternative fuels and materials</p>
                        <div class="d-flex gap-2 flex-wrap">
                            <div class="custom-badge badge-purple">Design</div>
                            <div class="custom-badge badge-blue">Research</div>
                            <div class="custom-badge badge-red">Presentation</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 mb-4">
                    <img src="assets/images/news/image-1.png" height="240px"
                        class="card-img-top rounded-top-4 object-fit-cover" alt="...">
                    <div class="card-body p-0 pt-4">
                        <h6 class="card-title text-purple mb-3">Olivia Rhye • 20 Jan 2022</h6>
                        <h5 class="fw-semibold after-arrow">Building a Greener Future: Cement’s Role in Sustainability
                        </h5>
                        <p class="text-gray">Discover how the cement industry is embracing eco-friendly innovations and
                            reducing its carbon footprint through alternative fuels and materials</p>
                        <div class="d-flex gap-2 flex-wrap">
                            <div class="custom-badge badge-purple">Design</div>
                            <div class="custom-badge badge-blue">Research</div>
                            <div class="custom-badge badge-red">Presentation</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 mb-4">
                    <img src="assets/images/news/image-1.png" height="240px"
                        class="card-img-top rounded-top-4 object-fit-cover" alt="...">
                    <div class="card-body p-0 pt-4">
                        <h6 class="card-title text-purple mb-3">Olivia Rhye • 20 Jan 2022</h6>
                        <h5 class="fw-semibold after-arrow">Building a Greener Future: Cement’s Role in Sustainability
                        </h5>
                        <p class="text-gray">Discover how the cement industry is embracing eco-friendly innovations and
                            reducing its carbon footprint through alternative fuels and materials</p>
                        <div class="d-flex gap-2 flex-wrap">
                            <div class="custom-badge badge-purple">Design</div>
                            <div class="custom-badge badge-blue">Research</div>
                            <div class="custom-badge badge-red">Presentation</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pagination-section">
    <div class="container">
        <div class="pagination-container flex-wrap">
            <a class="pagination-btn">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8327 10.5H4.16602M4.16602 10.5L9.99935 16.3333M4.16602 10.5L9.99935 4.66663"
                        stroke="#667085" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                Previous</a>
            <ul class="pagination mb-0 order-1 order-sm-0 justify-content-center mt-sm-0 mt-4">
                <li class="page-item"><a class="page-link active">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item"><a class="page-link">...</a></li>
                <li class="page-item"><a class="page-link">8</a></li>
                <li class="page-item"><a class="page-link">9</a></li>
                <li class="page-item"><a class="page-link">10</a></li>
            </ul>
            <a class="pagination-btn">
                Next
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.16602 10.5H15.8327M15.8327 10.5L9.99935 4.66663M15.8327 10.5L9.99935 16.3333"
                        stroke="#667085" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
    </div>
</section>