

.custom-input-group {
    height: 60px;
    direction: ltr;

    .form-control {
        border-top-left-radius: 46px;
        border-bottom-left-radius: 46px;
    }

    button {
        min-width: 156px;
        border-top-right-radius: 46px;
        border-bottom-right-radius: 46px;
    }
}

.after-arrow {
    position: relative;
    padding-right: 20px;

    &:after {
        content: '';
        position: absolute;
        right: 0px;
        top: 50%;
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-50%);
        background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 11L11 1M11 1H1M11 1V11" stroke="%23101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
}

.custom-badge {
    font-size: 14px;
    font-weight: 500;
    padding: 2px 10px;
    border-radius: 50rem;

    &.badge-purple {
        color: #6941C6;
        background-color: #F9F5FF;
    }

    &.badge-blue {
        color: #3538CD;
        background-color: #EEF4FF;
    }

    &.badge-red {
        color: #C11574;
        background-color: #FDF2FA;
    }

    &.badge-green {
        color: #027A48;
        background-color: #ECFDF3;
    }
}

.pagination-section {
    margin-bottom: 100px;

    .pagination-container {
        border-top: 1px solid #EAECF0;
        display: flex;
        justify-content: space-between;
        padding-block: 20px;

        .pagination-btn {
            color: #667085;
            font-size: 14px;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .pagination {
            .page-item {
                .page-link {
                    border: none;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    color: #667085;

                    &.active {
                        background-color: #F9F5FF;
                        color: #7F56D9;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .pagination-container {
        .pagination{
            width: 100%;
        }
    }
}