<section class="shop-banner">
    <div class="container z-3">
        <div class="blue-box text-center mb-3">
            <h1 class="text-white text-center fw-semibold mb-4">Find your new job today</h1>
            <h5 class="text-white text-center">Thousands of jobs in the computer, engineering and technology
                sectors are waiting for you.</h5>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group mb-3 custom-input-group position-relative flex-nowrap flex-md-row flex-column">
                    <!-- First Input Field with Search Icon -->
                    <div class="position-relative flex-grow-1 mb-md-0 mb-3">
                        <input type="text" class="form-control ps-5 position"
                            placeholder="What position are you looking for ?"
                            aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <span class="icon-search position-absolute top-50 start-0 translate-middle-y ps-3">
                            <img src="assets/images/icons/MagnifyingGlass.png" alt="Search Icon" class="w-5 h-5" />
                        </span>
                    </div>

                    <!-- Second Input Field with Location Icon -->
                    <div class="position-relative mb-md-0 mb-3">
                        <input type="text" class="form-control ps-5 rounded-0" placeholder="Location"
                            aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <span class="icon-location position-absolute top-50 start-0 translate-middle-y ps-3">
                            <img src="assets/images/icons/MapPinLine.png" alt="Location Icon" class="w-5 h-5" />
                        </span>
                    </div>

                    <!-- Button -->
                    <button class="btn btn-primary border-0 fs-5" type="button" id="button-addon1">Search job</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 mb-4">
                <div class="border py-4 px-3 rounded-2">
                    <h5 class="fw-semibold mb-3">Filters</h5>
                    <div class="mb-4">
                        <label for="exampleFormControlInput1" class="form-label">Category</label>
                        <select class="form-select rounded-pill" aria-label="Default select example">
                            <option selected>Search</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="exampleFormControlInput1" class="form-label">Date of posting</label>
                        <input type="date" class="form-control rounded-pill mb-3" id="exampleFormControlInput1">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                                checked>
                            <label class="form-check-label ms-1" for="flexRadioDefault1">
                                All time
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label ms-1" for="flexRadioDefault2">
                                Last 24 hours
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            <label class="form-check-label ms-1" for="flexRadioDefault3">
                                Last 3 days
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                            <label class="form-check-label ms-1" for="flexRadioDefault4">
                                Last 7 days
                            </label>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="exampleFormControlInput1" class="form-label">Work type</label>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Hybrid" checked>
                            <label class="form-check-label ms-1" for="Hybrid">
                                Hybrid
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Remote">
                            <label class="form-check-label ms-1" for="Remote">
                                Remote
                            </label>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="exampleFormControlInput1" class="form-label">Date of posting</label>
                        <input type="text" class="form-control rounded-pill mb-3" id="exampleFormControlInput1"
                            placeholder="00000">

                    </div>
                </div>
            </div>
            <div class="col-xl-7 mb-4">
                <div class="row mb-5">
                    <div class="col-md-9">
                        <h3 class="fw-bold">3177 Jobs</h3>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select rounded-pill" aria-label="Default select example">
                            <option selected>Sort by</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="border d-flex flex-column flex-md-row gap-4 p-4 posted-job rounded-2">
                            <img src="assets/images/icons/software-engineer.png" alt="Company Logo"
                                class="img-fluid rounded-2 logo" />
                            <div>
                                <h5 class="fw-light">Linear company</h5>
                                <h4>Software Engineer <span class="badge badge-purple align-middle">New post</span></h4>
                                <ul class="d-flex gap-md-5 gap-2 list-unstyled flex-column flex-md-row">
                                    <li class="d-flex gap-2 align-items-center">
                                        <img src="assets/images/icons/MapPinLine.png" alt="Search Icon" width="16"
                                            height="16" />
                                        <p class="text-gray mb-0">Brussels</p>
                                    </li>
                                    <li class="d-flex gap-2 align-items-center">
                                        <img src="assets/images/icons/Clock.png" alt="Search Icon" width="16"
                                            height="16" />
                                        <p class="text-gray mb-0">Full time</p>
                                    </li>
                                    <li class="d-flex gap-2 align-items-center">
                                        <img src="assets/images/icons/CurrencyDollar.png" alt="Search Icon" width="16"
                                            height="16" />
                                        <p class="text-gray mb-0">50-55k</p>
                                    </li>
                                    <li class="d-flex gap-2 align-items-center">
                                        <img src="assets/images/icons/CalendarBlank.png" alt="Search Icon" width="16"
                                            height="16" />
                                        <p class="text-gray mb-0">29 min ago</p>
                                    </li>
                                </ul>
                                <p class="text-gray">Mollit in laborum tempor Lorem incididunt irure. Aute eu ex ad
                                    sunt. Pariatur sint culpa do incididunt eiusmod eiusmod culpa. laborum tempor Lorem
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="border d-flex flex-column flex-md-row gap-4 p-4 posted-job rounded-2">
                            <img src="assets/images/icons/software-engineer.png" alt="Company Logo"
                                class="img-fluid rounded-2 logo" />
                            <div>
                                <h5 class="fw-light">Linear company</h5>
                                <h4>Software Engineer <span class="badge badge-purple align-middle">New post</span></h4>
                                <ul class="d-flex gap-md-5 gap-2 list-unstyled flex-column flex-md-row">
                                    <li class="d-flex gap-2 align-items-center">
                                        <img src="assets/images/icons/MapPinLine.png" alt="Search Icon" width="16"
                                            height="16" />
                                        <p class="text-gray mb-0">Brussels</p>
                                    </li>
                                    <li class="d-flex gap-2 align-items-center">
                                        <img src="assets/images/icons/Clock.png" alt="Search Icon" width="16"
                                            height="16" />
                                        <p class="text-gray mb-0">Full time</p>
                                    </li>
                                    <li class="d-flex gap-2 align-items-center">
                                        <img src="assets/images/icons/CurrencyDollar.png" alt="Search Icon" width="16"
                                            height="16" />
                                        <p class="text-gray mb-0">50-55k</p>
                                    </li>
                                    <li class="d-flex gap-2 align-items-center">
                                        <img src="assets/images/icons/CalendarBlank.png" alt="Search Icon" width="16"
                                            height="16" />
                                        <p class="text-gray mb-0">29 min ago</p>
                                    </li>
                                </ul>
                                <p class="text-gray">Mollit in laborum tempor Lorem incididunt irure. Aute eu ex ad
                                    sunt. Pariatur sint culpa do incididunt eiusmod eiusmod culpa. laborum tempor Lorem
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="border py-4 px-3 rounded-2">

                    <h5 class="fw-semibold mb-3">Email me for jobs</h5>
                    <p class="text-gray">Ut esse eiusmod aute. Sit enim labore dolore. Aute ea fugiat commodo ea foes.</p>
                    <input type="text" class="form-control rounded-pill mb-3" id="exampleFormControlInput1"
                    placeholder="name@mail.com">
                    <button class="btn btn-primary w-100 rounded-pill">Subcribe</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pagination-section">
    <div class="container">
        <div class="pagination-container flex-wrap">
            <a class="pagination-btn">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8327 10.5H4.16602M4.16602 10.5L9.99935 16.3333M4.16602 10.5L9.99935 4.66663"
                        stroke="#667085" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                Previous</a>
            <ul class="pagination mb-0 order-1 order-sm-0 justify-content-center mt-sm-0 mt-4">
                <li class="page-item"><a class="page-link active">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item"><a class="page-link">...</a></li>
                <li class="page-item"><a class="page-link">8</a></li>
                <li class="page-item"><a class="page-link">9</a></li>
                <li class="page-item"><a class="page-link">10</a></li>
            </ul>
            <a class="pagination-btn">
                Next
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.16602 10.5H15.8327M15.8327 10.5L9.99935 4.66663M15.8327 10.5L9.99935 16.3333"
                        stroke="#667085" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
    </div>
</section>