@import "../../../styles/variables";

header {
    transition: all 0.3s;
    z-index: 99;
    background-color: $primary;

    .header-top {
        direction: ltr;
        .center-logo {
            width: 400px;
        }
    }

    .navbar-nav {
        gap: 4rem;

        .nav-item {
            a.nav-link {
                padding: 0;
                color: white !important;
                letter-spacing: 1px;
                font-size: 16px;
                font-weight: bold;

                &.active {
                    border-bottom: 1px solid white;
                }
            }
        }
    }

    .header-logo {
        width: 140px;
    }

}

.dropdown-full-width {
    position: static !important;
    .dropdown-menu {
        width: 100%;
        margin-top: 0px;
        border-radius: 0px;
        border: none;
        background-color: white;
        padding-block: 28px;
        box-shadow: 1px 1px 18px -12px black;
        left: 0px;
        top: 100%;

        .menu-items {
            list-style: none;
            padding: 0px;
            .dropdown-item {
                padding-block: 10px;
                padding-inline: 0px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);
                white-space: pre-wrap;
                text-wrap: normal;

                &.active {
                    background-color: white;
                    color: $primary;
                    border-bottom: 2px solid $primary;
                    font-weight: 600;
                }

                &:active {
                    background-color: white;
                    color: $primary;
                    border-bottom: 2px solid $primary;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .dropdown-full-width {
        .dropdown-menu {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
            display: block !important;
    
            &.show {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}

@media screen and (max-width:1200px) {
    header {
        .navbar-nav {
            gap: 1rem;
        }
    }
}

@media screen and (max-width:700px) {

    header {
        .header-logo {
            width: 62px;
        }

        .center-logo {
            width: 200px !important;
        }
    }
}