<section class="shop-banner">
    <div class="blue-box text-center">{{'socialResponsibility.title' | translate}}</div>
</section>

<section class="social-responsibilities py-100">
    <div class="container">
        <h2 class="text-center text-primary fw-semibold">{{'socialResponsibility.section1.title' | translate}}</h2>
        <p class="text-center text-gray fs-5 mb-5">{{'socialResponsibility.section1.description' | translate}}</p>
        <img src="assets/images/social-responsibilities/saudi-meeting.png" class="img-fluid"
            alt="close-up-people-working-office"/>
    </div>
</section>


<section class="environmental-protection">
    <div class="container text-center">
        <h2 class="text-white fw-bold">{{'socialResponsibility.section2.title' | translate}}</h2>
        <p class="text-white">{{'socialResponsibility.section2.description' | translate}}</p>
        <div class="row margin-top-negative">
            <div class="col mb-3" *ngFor="let points of ('socialResponsibility.section2.environmentalPoints' | translate) let i = index">
                <div class="enviromental-points">
                    <h4>{{i+1}}</h4>
                    <p>{{points.point}}</p>
                </div>
            </div>
            <!-- <div class="col-lg mb-3">
                <div class="enviromental-points">
                    <h4>1</h4>
                    <p>The Factory is designed to be heating tower with six stages, which reduce energy consumption and fossil fuel</p>
                </div>
            </div>
            <div class="col mb-3">
                <div class="enviromental-points">
                    <h4>2</h4>
                    <p>Production of Portland Pozzolana Cement</p>
                </div>
            </div>
            <div class="col mb-3">
                <div class="enviromental-points">
                    <h4>3</h4>
                    <p>Planting thousands of trees in the factory</p>
                </div>
            </div>
            <div class="col mb-3">
                <div class="enviromental-points">
                    <h4>4</h4>
                    <p>Using processed sewage water for plants and cooling</p>
                </div>
            </div>
            <div class="col mb-3">
                <div class="enviromental-points">
                    <h4>5</h4>
                    <p>Using the solar energy for lighting some factory roads</p>
                </div>
            </div> -->
        </div>
    </div>
</section>