@import "custom-fonts";

$font-family-sans-serif: 'Noto Sans Arabic','Metropolis', sans-serif;
$font-family-base: $font-family-sans-serif;

$primary: #181998;
$secondary: #D7D7D7; // Define if not already defined
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #A3A3A3;
$dark: #343a40;
$body-color: #202020;
$link-color: $primary;

$card-border-color: $secondary;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1500px
);