<section class="shop-banner">
    <div class="blue-box text-center">{{'saudizationTraining.title' | translate}}</div>
</section>

<section class="py-100 section-bg">
    <div class="container">
        <h2 class="text-center text-primary fw-semibold">{{'saudizationTraining.section1.title' | translate}}</h2>
        <p class="text-center text-gray fs-5">{{'saudizationTraining.section1.description' | translate}}</p>
        <div class="row mt-5">
            <div class="col-md-6 mb-4" *ngFor="let points of ('saudizationTraining.section1.saudizationPoints' | translate)">
                <div class="saudization-card">
                    <div class="border-primary-left">
                        <h4 class="text-primary fw-semibold">{{points.title}}</h4>
                        <p class="text-gray fs-5">{{points.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-100 pt-0 section-bg-2 ">
    <div class="container">
        <h2 class="text-center text-primary fw-semibold">{{'saudizationTraining.section2.title' | translate}}</h2>
        <p class="text-center text-gray fs-5 mb-5">{{'saudizationTraining.section2.description' | translate}}</p>
        <div *ngFor="let points of ('saudizationTraining.section2.trainingPoints' | translate) let i = index" class="row direction-ltr" [ngClass]="{'flex-row-reverse': points.reverse =='true'}">
            <div class="col-md-6 align-content-center">
              <img [src]="points.image" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 align-content-center py-4">
              <h4 class="text-arabic-right-permanent">{{ points.title }}</h4>
              <p class="mb-0 text-arabic-right-permanent">{{ points.description }}</p>
            </div>
          </div>
    </div>
</section>