<section class="shop-banner">
    <div class="blue-box text-center">{{'qualityAssurance.title' | translate}}</div>
</section>

<section class="py-100">
    <div class="container">
        <h2 class="text-center text-primary fw-semibold">{{'qualityAssurance.certificationLabel' | translate}}</h2>
        <!-- <p class="text-center text-gray fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text
            of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s</p> -->
        <div class="row mt-5">
            <div class="col-md-3 col-6 text-center mb-4">
                <img src="assets/images/quality-assurance/certification_logo_1.png" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-3 col-6 text-center mb-4">
                <img src="assets/images/quality-assurance/certification_logo_2.png" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-3 col-6 text-center mb-4">
                <img src="assets/images/quality-assurance/certification_logo_3.png" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-3 col-6 text-center mb-4">
                <img src="assets/images/quality-assurance/certification_logo_4.png" class="img-fluid shadow" alt="">
            </div>
        </div>
    </div>
</section>

<section class="py-100 pt-0 section-bg-2">
    <div class="container">
        <h2 class="text-center text-primary fw-semibold">{{'qualityAssurance.achievementLabel' | translate}}</h2>
        <!-- <p class="text-center text-gray fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text
            of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s</p> -->
        <div class="row mt-5 gx-lg-5">
            <div class="col-xl-3 col-md-6 mb-md-5 mb-3" *ngFor="let card of cards">
                <div class="card h-100">
                    <div class="card-header">
                        <p class="text-center">{{ card.header }}</p>
                    </div>
                    <div class="card-body" (click)="openDocumentViewerModal(card.imageUrl, card.header)">
                        <img [src]="card.imageUrl" class="img-fluid w-100" alt="{{ card.header }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>