<section class="shop-banner">
    <div class="blue-box text-center">{{'aboutUs.title' | translate}}</div>
</section>

<section class="linear-purple-section">
    <div class="container h-100">
        <div class="border overlay-text bg-white text-center">{{'aboutUs.section1.commercialNumber' | translate}}</div>
        <div class="row direction-ltr">
            <div class="col-12">
                <div class="pe-xxl-5">
                    <div class="row justify-content-xxl-end justify-content-center">
                        <div class="col-lg-6">
                            <div class="row justify-content-start">
                                <div class="col-xxl-9">
                                    <h1 class="my-3 text-xxl-start text-center text-primary mb-0 text-arabic-right">{{'aboutUs.section1.messageFrom' | translate}}</h1>
                                    <h1 class="fw-bold text-xxl-start text-center text-primary text-arabic-right">{{'aboutUs.section1.ceo' | translate}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="bg-light-pink py-4 px-md-5 px-3 ps-xxl-0">
                    <div class="row">
                        <div class="col-lg-6 position-relative">
                            <div class="ceo-image">
                                <img src="assets/images/about-us/ceo.png" class="img-fluid" alt="">
                                <div class="ceo-badge bg-primary text-white rounded-pill px-3 py-2">
                                    <p class=" mb-0">{{'aboutUs.section1.ceoName' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row justify-content-start">
                                <div class="col-xxl-10">
                                    <p class="mb-0">
                                        {{'aboutUs.section1.description' | translate}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-core-value">
    <div class="container">
        <div class="d-flex flex-lg-row flex-column cards-container">
            <div class="card border-0">
                <div class="card-body ps-lg-5 pt-lg-5 pe-lg-4 pb-lg-4 p-4">
                    <h2 class="card-title">{{'aboutUs.section2.vision.title' | translate}}</h2>
                    <p class="card-text">{{'aboutUs.section2.vision.description' | translate}}</p>
                </div>
                <img src="assets/images/about-us/card-img-bottom.png" class="card-img-bottom rounded-0" alt="...">
            </div>
            <div class="card border-0 flex-lg-column flex-column-reverse">
                <img src="assets/images/about-us/card-img-top.png" class="card-img-top rounded-0" alt="...">
                <div class="card-body ps-lg-4 pt-lg-4 pe-lg-5 pb-lg-5 p-4">
                    <h2 class="card-title">{{'aboutUs.section2.mission.title' | translate}}</h2>
                    <p class="card-text">{{'aboutUs.section2.mission.description' | translate}}</p>
                </div>
            </div>
        </div>
        <div>
            <h2 class="text-center mb-4 fw-semibold">{{'aboutUs.section3.title' | translate}}</h2>
            <p class="text-center text-custom-gray mb-5">{{'aboutUs.section3.description' | translate}}</p>
            <div class="row flex-lg-row flex-column text-center points-border">
                <div class="col">
                    <div class="p-2">
                        <h4 class="mb-3 fw-semibold">{{'aboutUs.section3.ownership.title' | translate}}</h4>
                        <p class="text-gray mb-0">{{'aboutUs.section3.ownership.description' | translate}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <h4 class="mb-3 fw-semibold">{{'aboutUs.section3.integrity.title' | translate}}</h4>
                        <p class="text-gray mb-0">{{'aboutUs.section3.integrity.description' | translate}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <h4 class="mb-3 fw-semibold">{{'aboutUs.section3.accountability.title' | translate}}</h4>
                        <p class="text-gray mb-0">{{'aboutUs.section3.accountability.description' | translate}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <h4 class="mb-3 fw-semibold">{{'aboutUs.section3.teamwork.title' | translate}}</h4>
                        <p class="text-gray mb-0">{{'aboutUs.section3.teamwork.description' | translate}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <h4 class="mb-3 fw-semibold">{{'aboutUs.section3.innovation.title' | translate}}</h4>
                        <p class="text-gray mb-0">{{'aboutUs.section3.innovation.description' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>