<footer class=" bg-primary">
    <div class="container position-relative direction-ltr">

        <img src="assets/images/certified-logo.png" class="footer-float-img shadow">
    </div>
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-lg-9">
                <div class="row gy-3">
                    <div class="col-xxl-3 col-sm-6">
                        <h5 class="text-white mb-3">{{'footer.quickLinks.heading' | translate}}</h5>
                        <ul [ngClass]="{'arabic-arrow': currentLang === 'ar'}">
                            <li class="arrow-right"><a class="text-white"
                                    routerLink="/landing-page">{{'footer.quickLinks.home' | translate}}</a></li>
                            <!-- routerLink="/shopping" -->
                            <li class="arrow-right"><a class="text-white"
                                    (click)="openComingSoon('Shop')">{{'footer.quickLinks.shop' | translate}}</a></li>
                            <li class="arrow-right"><a class="text-white"
                                    (click)="openComingSoon('Clients')">{{'footer.quickLinks.clients' | translate}}</a>
                            </li>
                            <li class="arrow-right"><a class="text-white"
                                    routerLink="/products">{{'footer.quickLinks.products' | translate}}</a></li>
                            <li class="arrow-right"><a class="text-white"
                                    routerLink="/quality-assurance">{{'footer.quickLinks.qualityAssurance' |
                                    translate}}</a></li>
                            <li class="arrow-right"><a class="text-white"
                                    routerLink="/vendors">{{'footer.quickLinks.vendors' | translate}}</a></li>
                            <li class="arrow-right"><a class="text-white"
                                    (click)="openComingSoon('News')">{{'footer.quickLinks.news' | translate}}</a></li>
                        </ul>
                    </div>
                    <div class="col-xxl-3 col-sm-6">
                        <h5 class="text-white mb-3">{{'footer.moreLinks.heading' | translate}}</h5>
                        <ul [ngClass]="{'arabic-arrow': currentLang === 'ar'}">
                            <li class="arrow-right"><a class="text-white"
                                    (click)="openComingSoon('Career')">{{'footer.quickLinks.career' | translate}}</a>
                            </li>
                            <li class="arrow-right"><a class="text-white"
                                    (click)="openComingSoon('Contact Us')">{{'footer.moreLinks.contactUs' |
                                    translate}}</a></li>
                            <li class="arrow-right"><a class="text-white"
                                    (click)="openComingSoon('Offers')">{{'footer.moreLinks.offers' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xxl-4 col-sm-6">
                        <h5 class="text-white mb-3">{{'footer.moreLinks.contactUs' | translate}}</h5>
                        <ul>
                            <li class="phone d-flex align-items-center gap-2"><a class="text-white direction-ltr" href="">+966 12 676 8999</a></li>
                            <li class="phone d-flex align-items-center gap-2"><a class="text-white direction-ltr" href="">+966 12 6702444</a></li>
                            <li class="phone d-flex align-items-center gap-2"><a class="text-white direction-ltr" href="">+966 920026267</a></li>
                            <li class="phone d-flex align-items-center gap-2"><a class="text-white"
                                    href="">{{'footer.moreLinks.contactUs' | translate}}</a></li>
                            <li class="mail d-flex align-items-center gap-2">
                                <a class="text-white" href="mailto:info@unitedcement.com.sa">
                                    {{ 'info@unitedcement.com.sa' }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xxl-2 col-sm-6">
                        <h5 class="text-white mb-3">{{'footer.socialLinks.heading' | translate}}</h5>
                        <div class="bg-primary d-flex gap-4 mb-4">
                            <a href="https://x.com/united_cement" target="_blank">
                                <img src="assets/images/twitter-icon.png" alt="">
                            </a>
                            <a href="https://www.youtube.com/@unitedcementindustrialcomp7673" target="_blank">
                                <img src="assets/images/youtube-icon.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com/company/united-cement-industrial-company/posts/?feedView=all" target="_blank">
                                <img width="19" src="assets/images/linkdin-icon.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-3">
                <h5 class="text-white mb-3">{{'footer.ourPorfolio' | translate}}</h5>
                <img src="assets/images/portfolio-collage.png" class="img-fluid">

            </div>
        </div>
        <p class="text-white mb-0 mt-5 text-center border-top pt-3 opacity-75">&copy; Copyright 2016 United Cement
            Industrial Company</p>
    </div>
</footer>