<section class="shop-banner">
  <div class="blue-box text-center">{{'boardMembers.title' | translate}}</div>
</section>

<section class="management-team">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6 mb-5" *ngFor="let member of ('boardMembers.members' | translate)">
        <div class="card mx-4 rounded-3 overflow-hidden">
          <img src="assets/images/management-team/management-person.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title fw-semibold"><span class="fw-light" *ngIf="member.designation != 'CEO' && member.designation != 'الرئيس التنفيذي'">{{'boardMembers.beforeName' | translate}}</span>
              {{member.name}}</h4>
            <p class="card-text fs-small">{{member.designation}}</p>
            <hr>
            <p class="card-text">{{member.email}}</p>
            <div class="d-flex justify-content-center gap-2">
              <a><img src="assets/images/icons/facebook.png" alt=""></a>
              <a><img src="assets/images/icons/instagram.png" alt=""></a>
              <a><img src="assets/images/icons/twitter.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>